html{
  width: auto;
}

.App {
  background-color: #7cb1d4;
}

/* header styles */
.App-header {
  padding: 0.5em;
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.App-header img {
  max-width: 25%;
  margin-left: 2em;
}

.App-header a {
  border-radius: 30px;
  padding: 0.25em;
  background-color: white;
  text-decoration: none;
}


.graph {
 margin: 2em;
}

.container {
  text-align: center;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.coin-logo {
  height: 2em;
  width: 2em;
}

.btn button{
  padding: 1.25em;
  border-radius: 30px;
  border: black;
  border-style: sold;
}

/* Landing styles */

.landing-hero {
  background-color: #7cb1d4;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing h2, h3 {
  color: white;
  text-align: center;
}
.landing-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-middle img {
  width: 50%;
}
.landing-middle h3 {
  text-align: center;
  width: 50%;
  color: #282c34;
}
.landing-info {
  padding: 1.5em;
  background-color: #7cb1d4;
  line-height: 1.25em;
}
.landing-info h4, p {
  text-align: left;
}

/* footer styles  */
.footer p {
  text-align: center;
  padding: 1.5em;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75em;
}

h2, h3, h4, a {
  font-family: 'Saira', sans-serif;
}


/* styles for small screens */

@media screen and (max-width: 500px) {
  .landing-middle, .landing-info {
    flex-direction: column;
  }

  .col-reverse {
    flex-direction: column-reverse;
  }
  .landing-middle img {
    width: 75%;
  }
}
